.nav-link,
.nav-button {
    text-decoration: none; /* Remove underline from links */
    border: none; /* Remove button border */
    cursor: pointer; /* Show pointer cursor on hover */
    padding: 0.5rem 1rem;
}

.nav-button {
    background-color: #212529;
}

.nav-link:hover {
    background-color: #0056b3; /* Change background color on hover */
}

.nav-button:hover {
    background-color: #0056b3; /* Change background color of button on hover */
    transition: 0.7s
}

.sortable:hover{
    cursor: pointer;
}

.number {
    text-align: right;
}

.rank {
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 20px;
    text-align: center;
}

.dataTables_paginate .paginate_button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    border-radius: 3px;
}

.dataTables_paginate .paginate_button.current {
    background-color: #007bff;
    color: #fff;
}

.dataTables_paginate .paginate_button.disabled {
    background-color: #f5f5f5;
    color: #ccc;
    cursor: not-allowed;
}

.dataTables_length,
.dataTables_filter {
    margin-bottom: 10px;
    padding-left: 10px;
}

.dataTables_filter input[type="search"] {
    margin-left: 10px;
}
