{% extends "layout.html" %}
{% block content %}
    <h2>Draft Board</h2>
    {% for round_number, round_data in draft_board.items() %}
        <h3>Round {{ round_number }}</h3>
        <table>
            <tr>
                <th>Pick #</th>
                <th>Player</th>
                <th>Team</th>
                <th>Percent Owned</th>
            </tr>
            {% for pick_number, pick_data in round_data.items() %}
                <tr>
                    <td>{{ pick_number }}</td>
                    <td>{{ pick_data[0] }}</td>
                    <td>{{ pick_data[1] }}</td>
                    <td>{{ pick_data[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
    <p>{{ entries }}</p>
{% endblock %}

