<!doctype html>
<html>
<title>My Fantasy NBA</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
    <div class="header">
        <h1>Welcome to My Fantasy NBA</h1>
        <div class="navigation">
            <a href="{{ url_for('index') }}" class="button">Home</a>
            <form action="{{ url_for('draft') }}" method="POST">
                <button type="submit" class="button">Draft</button>
            </form>
            <a href="{{ url_for('free_agent') }}" class="button">Free Agent</a>
            <a href="{{ url_for('search') }}" class="button">Search Player</a>
        </div>
    </div>
    <div class=page>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
